{%extends 'base.html'%}
{%block title%}Awards-Site{%endblock title%}
{% load static %}
{% load bootstrap4%}
{% load ratings %}
{% block content %}
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>

<div class="container">
    <div class="row mt-4"></div>
    <div class="col-lg-12">

        <div class="card text-center">
            <div class="view view-cascade overlay" style="width: 100%; height:28vw; object-fit: cover;">
                {% if site.site_image %}
                <img class="card-img-top" src="{{site.site_image.url}}" alt="{{ site.site_name }}">
                {% else %}
                <img class="card-img-top" src="https://source.unsplash.com/1600x900/?fun,vacation"
                    alt="{{ site.site_name }}">
                {% endif %}
            </div>
            <div class="card-body card-body-cascade text-center">
                <h2 class="card-title font-weight-bold"><a>{{ site.site_name }}</a></h2>
                <p class="card-text">{{ site.site_description }}</p>
                <a href="{{site.site_url}}" target="_blank" class="btn btn-default font-weight-bold px-3"
                    title="Visit site">Visit Website</a>
            </div>
            <!-- <div class="row">
                <div class="col-md-3">
                    <h4>Design</h4>
                    {% ratings site %}
                </div>

                <div class="col-md-3">
                    <h4>Usability</h4>
                    {% ratings site %}
                </div>


                <div class="col-md-3">
                    <h4>Content</h4>
                    {% ratings site %}
                </div>
           
                <div class="col-md-3 pt-5">
                    <h4 style="text-decoration:underline">Overall</h4>
                </div>
            </div> -->
            <br>
            <div class="row">
                <div class="col-lg-6 dark-text"> <small><img src="{{site.country.flag}}" width="24"
                            alt=" {{site.country.name}} flag">
                        <span class="mr-1">{{site.country.name}}</span></small>
                </div>
                <div class="col-lg-6 dark-text"> <small> Date Posted: {{site.pub_date|date:"d /m/Y"}} </small> </div>
            </div>
            <div class="card-footer bg-white">
                <h5 class="pt-2">CREDITS::
                <img class="rounded-circle account-img" src="{{ user.profile.avatar.url }}" alt="course image"
                    height="54" width="55">
                <span class="ml-2">{{site.author.username}}</span></h5>
                <hr>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 ">
                    <h2 class=" text-center mt-4" style="margin-left:20%;">Review Rate</h2>
                    {% if rating_status %}
                    <h5>You have already done your review</h5>
                    {% else %}
                    {% if user.is_authenticated %}
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button class="btn btn-sm btn-info btn-block" style="margin-top:4px;" value="review"
                            type="submit">Rate</button>
                    </form>
                    {% endif %}
                    {% endif %}
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <h2 class="text-center">Ratings</h2>
    <table class="table justify-content-center" style="border:1">
        <th>Username</th>
        <th>Design Rating</th>
        <th>Usability Rating</th>
        <th>Content Rating</th>
        <th>Overal Score</th>
        {% for reviews in reviews %}
        <tr>
            <td class="user">{{ reviews.user.username }}</td>
            <td class="design">{{ reviews.design }}</td>
            <td class="usability">{{ reviews.usability }}</td>
            <td class="content">{{ reviews.content }}</td>
            <td class="average">{{reviews.average }}</td>

        </tr>
        {% endfor %}
    </table>
</div>
</div>
</div>
{% endblock %}